header nav{
    background-color: #0A2242;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    justify-content: space-evenly;
    
    padding: 25px 0;
}

button{
    background-color: #92C7F6;
    color: rgb(0, 0, 0);
    padding:0 20px;
    width:100px;
    height: 50px;
    display:flex ;
    justify-content: center;
    align-items: center;
    border-radius: 10%;

}
.selecinado{    
    background-color: #92E4F6;

}
button:hover{
    background-color: #92E4F6;

}

.cabecalho{
display: flex;
      justify-content: space-between;
      gap: 20px;
}

.coluna {
      width: 30%;
      background-color: white;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

.titulo {
      background-color: #dcdcdc;
      text-align: center;
      font-weight: bold;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      }

.estilo-conteudo{   
     float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
    justify-content: space-between;
  align-items: center;
}

#menu-hamburger {
    display: flex;
    flex-direction: column;
    position: relative;


}

.bars-menu {
    background-color: aliceblue;
    width: 30px;
    height: 5px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.bars-menu:nth-child(1){
    position: absolute;
    top: 0px;
}




.bars-menu:nth-child(2){
    position: absolute;
    top: 10px;
}

.bars-menu:nth-child(3){
    position: absolute;
    top: 20px;
}

.bars-menu:nth-child(4){
    position: absolute;
    z-index: 100;
    top: 0;
    width: 40px;
    height: 40px;
    background:transparent;
}

.lista-items {
    display: flex;
    list-style: none;
    li {
        margin: 0 10px;
    }
}

label:hover{
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ label .bars-menu:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

input[type="checkbox"]:checked ~ label .bars-menu:nth-child(2) {
    display: none;
}

input[type="checkbox"]:checked ~ label .bars-menu:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

.box-menu {
    background-color:#B74545;
    display: none;
    transition: 0.5s all;
    position: absolute;
    top: 85px;
    width: 25%;
    padding: 20px;
    left: 0;
}

.box-menu ul li {
    padding: 10px  0;
    border: 1px solid transparent;
    color: white;
    list-style: none;

    a{
        width: 100%;
        height: 100%;
    }
}
.box-menu ul li:hover {
    background-color:  rgba(203, 230, 221, 0.801);
}

input[type="checkbox"]:checked ~ .box-menu {
    display: block;
}

.barra-pesquisa {
    width: 20%;
    display: flex;

}
.barra-pesquisa input{
    padding: 10px;
    border: none;
    width: 90%;
    border-radius: 10px 0 0 10px;
}
.btn-pesquisa {
    padding: 5px;
    width: 40px;
    border-radius: 0 10px 10px 0;
    border: none;
}
.btn-pesquisa:hover {
    cursor: pointer;
}
