*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    a {
        color: white;
        text-decoration: none;
    }
}
header nav{
    background-color: rgb(47, 78, 105);
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    justify-content: space-evenly;
    
    padding: 25px 0;
}

#menu-hamburger {
    display: flex;
    flex-direction: column;
    position: relative;


}

.bars-menu {
    background-color: aliceblue;
    width: 30px;
    height: 5px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.bars-menu:nth-child(1){
    position: absolute;
    top: 0px;
}




.bars-menu:nth-child(2){
    position: absolute;
    top: 10px;
}

.bars-menu:nth-child(3){
    position: absolute;
    top: 20px;
}

.lista-items {
    display: flex;
    list-style: none;
    li {
        margin: 0 10px;
    }
}

label:hover{
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ label .bars-menu:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

input[type="checkbox"]:checked ~ label .bars-menu:nth-child(2) {
    display: none;
}

input[type="checkbox"]:checked ~ label .bars-menu:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

.box-menu {
    background-color: rgba(107, 190, 163, 0.801);
    display: none;
    transition: 0.5s all;
    position: absolute;
    top: 75px;
    width: 100%;
    left: 0;
}

.box-menu ul li {
    padding: 10px  0;
    border: 1px solid rgb(199, 199, 199);
    color: white;

    a{
        width: 100%;
        height: 100%;
    }
}
.box-menu ul li:hover {
    background-color:  rgba(203, 230, 221, 0.801);
}

input[type="checkbox"]:checked ~ .box-menu {
    display: block;
}

.barra-pesquisa {
    width: 20%;
    display: flex;

}
.barra-pesquisa input{
    padding: 5px;
    border: none;
    width: 90%;
    border-radius: 10px 0 0 10px;
}
.btn-pesquisa {
    padding: 5px;
    width: 40px;
    border-radius: 0 10px 10px 0;
    border: none;
}
.btn-pesquisa:hover {
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    h1 {
        color: white;

    }
}
